.playlist-card {
  width: 350px;
  position: relative;
  margin: 0px 20px 20px 0;
}

.btn-delete {
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  border: none;
  background-color: var(--yt-spec-static-brand-red);
  color: var(--yt-spec-text-primary);
  padding: 7.5px 15px;
  cursor: pointer;
  font-size: 17px;
}

.playlist-thumbnail {
  width: 100%;
}

.playlist-card-name {
  margin: 10px 0 0 0;
  font-size: 22px;
}

.playlist-card-category {
  margin: 5px 0 10px 0;
}
